name: Pull Request
on:  [ pull_request ]

permissions: 
  contents: read
  pull-requests: read

jobs: 
  build:
    uses: jimschubert/.workflows/.github/workflows/go-pr.yml@main
    with: 
      go-version-file: go.mod
      golangci-lint-version: v2.7.2
      coverage-artifact-name: pr-coverage
      coverage-retention-days:  3
